body {
  font-family: Arial, sans-serif;
  background-color: rgb(167, 187, 224);
  display: flex;
  justify-content: center;
  margin-top: 250px;
  font-style: italic;
}

.todo-container {
  background: rgba(0,0,0,0.1);
  width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  border: white 1px solid;
}

h1 {
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: rgb(229, 229, 164);
}

input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  color: #515151;
}

li:hover {
  background-color:rgb(229, 229, 164);
  color: rgb(111, 111, 111);
}

li .delete-icon {
  visibility: hidden;
  color: red;
  cursor: pointer;
}

li:hover .delete-icon {
  visibility: visible;
}

.footer {
  padding: 10px 16px;
  font-size: 0.9rem;
  color: #515151;
  text-align: left;
}